<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    <target name="CSVFile" xsi:type="File"  fileName="${basedir}/Logging/Log-${date:format=yyyyMMdd}.log"
    archiveEvery="Day" maxArchiveFiles="90">
      <layout xsi:type="CSVLayout">
        <column name="Index" layout="${counter}" />
        <column name="Time" layout="${date:format=HH\:mm\:ss-ffffff}" />
        <column name="Severity" layout="${level:uppercase=true}" />
        <column name="Thread" layout="| ${threadid}" />
       
        <column name="Detail" layout="| ${message}| ${identity}| ${processinfo}| ${all-event-properties}  " />
        <column name="Exception" layout="| ${exception:format=ToString} " />
        <column name="CallSite" layout="| ${callsite:className=False:fileName=True:includeSourcePath=False:methodName=False}| ${processname:fullName=False} " />
  
      </layout>
    </target>
    -->
    <target xsi:type="Console"
       name="c"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}"/>

  </targets>

  <rules>
    <!--    <logger name="*" minlevel ="Trace" writeTo="CSVFile" /> -->

    <logger name="*" minlevel ="Info" writeTo="c" />
  </rules>
</nlog>
