
akka {

stdout-loglevel = DEBUG
loglevel = DEBUG
akka.actor.serialize-messages = on
loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
actor {
provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
DEBUG {
log-config-on-start = off
receive = off
autoreceive = on
lifecycle = on
event-stream = on
unhandled = on
stdout-loglevel = DEBUG
log-received-messages = off
}
}

remote {
helios.tcp {
port = 8091
hostname = __hostname__
}
}

cluster {
seed-nodes = ["akka.tcp://ClusterSystem@__hostname__:8091"]
roles = [crawler]
}
}

my-dispatcher {
type = TaskDispatcher
throughput = 1
throughput-deadline-time = 0ms
}

application {
environment = app
#environment = devMock

devMock {
useFixedConfigFile = true
FixedConfigClassName = DevMockConfig
}

app {
useFixedConfigFile = false

ApiEndPoint = "http://ldnademo.azurewebsites.net/api/shop"

Environment = "Prod"

CsvLineValidationRegex = "^(\\d+)\\s?,([^,]*?),([^,]*?),(\\d+\\/\\d+\\/\\d+[^,]\\s*?)$"
HeaderValidationRegex = "^data id,shop name,city,created on$"
DateValidationRegex = "(\\d+?\\/\\d+?\\/\\d+?[^,]\\s*?)$"


HttpTimeoutInMiniseconds = 20000
HttpRetries = 3
WorkerIdleTime = 2000
InitialApiErrorThresholdToShutdownSystem = 3

OutputFileHeader = "data id,sale"
StopIfDestinationFileExists = false
WriteWaitCycleInMiniseconds = 1000

ReadLinesBatchSize = 5000
InternalChunkSize = 50
DataDistributorActorCount = 1
LoadFactor = 5
RemoteHost1=axu
HowToScale = 4
CrawlerActorsCount = 24
WaitForClusterStartMessage = true
}
}
