<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <akka>
    <hocon>
      <![CDATA[

akka {
	   
    stdout-loglevel = DEBUG
		loglevel = DEBUG
		akka.actor.serialize-messages = on
		loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
		actor {
		provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    DEBUG {
			log-config-on-start = off
				receive = off
				autoreceive = on
				lifecycle = on
				event-stream = on
				unhandled = on
				stdout-loglevel = DEBUG
				log-received-messages = off
		}
	}
     remote {
                    helios.tcp {
                        port = 0
                        hostname = localhost
                    }
                }
}

my-dispatcher {
	type = TaskDispatcher
		throughput = 1
		throughput-deadline-time = 0ms
}

application {
	environment = app 
  #environment = devMock 

	devMock {	
        useFixedConfigFile = true
		    FixedConfigClassName = DevMockConfig  
	}
  
  app {   
            useFixedConfigFile = false
            
            ApiEndPoint = "http://04768205e7e2/api/shop"

            Environment = "Prod"
            
            CsvLineValidationRegex = "^(\\d+)\\s?,([^,]*?),([^,]*?),(\\d+\\/\\d+\\/\\d+[^,]\\s*?)$"
            HeaderValidationRegex = "^data id,shop name,city,created on$"
            DateValidationRegex = "(\\d+?\\/\\d+?\\/\\d+?[^,]\\s*?)$"
            
            CrawlerActorsCount = 4
            HttpTimeoutInMiniseconds = 20000
            HttpRetries = 3
            WorkerIdleTime = 200
            InitialApiErrorThresholdToShutdownSystem = 3

            OutputFileHeader = "data id,sale"  
            StopIfDestinationFileExists = false
            WriteWaitCycleInMiniseconds = 1000

            ReadLinesBatchSize = 5000
            InternalChunkSize = 50
            DataDistributorActorCount = 1

  
    
  }
}        ]]>
    </hocon>
  </akka>

</configuration>