<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <akka>
    <hocon>
      <![CDATA[

akka {
	   
    stdout-loglevel = DEBUG
		loglevel = debug
		akka.actor.serialize-messages = on
		loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
		actor {
		debug {
			log-config-on-start = off
				receive = off
				autoreceive = on
				lifecycle = on
				event-stream = on
				unhandled = on
				stdout-loglevel = DEBUG
				log-received-messages = off
		}
	}
}

my-dispatcher {
	type = TaskDispatcher
		throughput = 5
		throughput-deadline-time = 0ms
}

application {
	#environment = app 
  environment = devMock 

	devMock {	
        useFixedConfigFile = true
		    FixedConfigClassName = DevMockConfig  
	}
  
  app {   
            useFixedConfigFile = false
            
            ApiEndPoint = "http://localhost:51069/api/shop"

            Environment = "Prod"
            
            CsvLineValidationRegex = "^(\\d+)\\s?,([^,]*?),([^,]*?),(\\d+\\/\\d+\\/\\d+[^,]\\s*?)$"
            HeaderValidationRegex = "^data id,shop name,city,created on$"
            DateValidationRegex = "(\\d+?\\/\\d+?\\/\\d+?[^,]\\s*?)$"
            
            CrawlerActorsCount = 16
            HttpTimeoutInMiniseconds = 2000
            HttpRetries = 2
            WorkerIdleTime = 200
            InitialApiErrorThresholdToShutdownSystem = 2

            OutputFileHeader = "data id,sale"  
            StopIfDestinationFileExists = false
            WriteWaitCycleInMiniseconds = 1000

            ReadLinesBatchSize = 150
            InternalChunkSize = 5
            DataDistributorActorCount = 4

  
    
  }
}        ]]>
    </hocon>
  </akka>

</configuration>